/* Page background */
body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background:#17407a;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


/* Password Analyzer Box */
.box{

    width:450px;
    padding:40px;
    border-radius:20px;

    /* Background image inside box */
    background-image:url("/static/background.png");
    background-size:contain;      /* fits properly */
    background-position:center;
    background-repeat:no-repeat;

    /* Dark overlay */
    background-color: rgba(0,0,0,0.65);
    background-blend-mode: darken;

    text-align:center;
    color:white;

    box-shadow:0 10px 30px rgba(0,0,0,0.6);
}


/* Title */
h1{
    margin-bottom:25px;
}


/* Input box */
input{
    width:80%;
    padding:12px;
    font-size:16px;
    border-radius:8px;
    border:none;
    margin-bottom:20px;
}


/* Button */
button{

    padding:12px 25px;
    font-size:16px;
    background:#00b7e5;
    border:none;
    border-radius:8px;
    cursor:pointer;
    color:white;
}

button:hover{
    background:#009cc5;
}


/* Result text */
p{
    font-size:18px;
    margin:8px;
}


/* Safe text */
.safe{
    color:#00ff9d;
    font-weight:bold;
}


/* Warning text */
.warning{
    color:red;
    font-weight:bold;
    animation: blink 1s infinite;
}


/* Blink animation */
@keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
